zs
doit
*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
doc/Makefile
doc/Makefile.in
doc/*.1
doc/*.7
doc/*.3
libtool
src/.deps/
src/.dirstamp
src/.libs/
src/libzs.la
src/libzs.pc
src/platform.h
src/platform.h.in
src/src_libzs_la-zs_lex.lo
src/src_libzs_la-zs_pipe.lo
src/src_libzs_la-zs_repl.lo
src/src_libzs_la-zs_vm.lo
src/stamp-h1
src/zs_selftest
